
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Access Denied!</h1>
<h3>Only the admin can access this page</h3>
<div class="col-4">
    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
</div>

